/* ------------------
 styling for the tables 
   ------------------   */


/* Reset Body Property */

body{
border:0; margin:0; padding:0;	line-height:1.6em;
}

#navbar-container{
background:#656C76;
}

#navbar{
text-align:center;
width:800px;
margin:0 auto;
}

/* LOGO */
#logo{
text-align:center;
width:800px;
height:164px;
margin:10px auto; 
font:bold 15px Verdana, Arial, Helvetica, sans-serif;
text-shadow:1;
}

/*------------------*/
/* Nav Bar */
#navbar{
height:26px;
line-height:26px;
}
#navbar a:link, #navbar a:visited, #navbar a:hover{
color:#FFFFFF;
font-weight:bold;
margin-right:20px;
text-decoration:none;
}

#wrapper{
background:url(images/bg-nav-image.png) left top repeat-x;
height:166px;
margin: 0px auto; 
color: #000; /*This is the font-color*/
}

#content{
text-align:center;
position:relative;
width:800px;
margin:0 auto;
border-style:solid;
border-width:5px;
background:#FFFFFF;
}
 
#content p { /*This styles the pargraphs within the content DIV*/
	margin: 0; /*Different browsers have different defaults here so we set it to 0*/
	padding: 10px; /*Adds 10px space around the pargraph, no need for blank paragraphs now*/
	} 
 
#footer{
clear: both;
text-align:center;
width:800px;
height:50px;
border-top: 1px solid #000;
position:absolute;
bottom:0;
}

/*------------------*/


#background-image
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	background: url('table-images/blurry.jpg') 330px 59px no-repeat;
}
#background-image th
{
	padding: 12px;
	font-weight: normal;
	font-size: 14px;
	color: #339;
}
#background-image td
{
	padding: 9px 12px;
	color: #669;
	border-top: 1px solid #fff;
}
#background-image tfoot td
{
	font-size: 11px;
}
#background-image tbody td
{
	background: url('table-images/back.png');
}
* html #background-image tbody td
{
	/* 
	   ----------------------------
		PUT THIS ON IE6 ONLY STYLE 
		AS THE RULE INVALIDATES
		YOUR STYLESHEET
	   ----------------------------
	*/
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='table-images/back.png',sizingMethod='crop');
	background: none;
}	
#background-image tbody tr:hover td
{
	color: #339;
	background: none;
}


#gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
}
#gradient-style th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('table-images/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#gradient-style td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('table-images/gradback.png') repeat-x;
}
#gradient-style tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#gradient-style tbody tr:hover td
{
	background: #d0dafd url('table-images/gradhover.png') repeat-x;
	color: #339;
}


